//== Template Main Color
$color-main: #11a44c;
$white: #fff;
$black: #15131c;

/*----------------------------------------------
    # Typography
----------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400,400i,500,500i,600,600i,700,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600&display=swap");

//  transition
$transition: all 0.3s ease-in;
$transition-long: all 0.5s ease-in;
